@model ProductDTO

<div class="col-sm-12 col-md-4" my-2>
    <div class="card" style="width: 18rem;">
        <img src="~/images/@Model.ImageUrl" class="card-img-top" alt="@Model.Name">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text"><b>Price:</b>@Model.Price.ToString("C2")</p>
            <div class="btn btn-group">
                <a asp-controller="Product" asp-action="GetById" asp-route-id="@Model.Id" class="btn btn-success"><i class="fa fa-arrow-right"></i>Detail</a>
                <form id="@Model.Id" asp-page="/Basket" method="post">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-outline-success">
                        <i class="fa fa-cart-plus"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>